<p id="notice"><%= notice %></p>

<h1><%= t ".Articles" %></h1>

<%= link_to '記事作成', new_article_path, class: "btn btn-info" %>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= t ".Title" %></th>
      <th scope="col"><%= t ".Content" %></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td>
          <%= link_to t('link.Show'), article, class: "btn btn-success" %>
          <%= link_to t('link.Edit'), edit_article_path(article), class: "btn btn-warning" %>
          <%= link_to t('link.Destroy'), article, class: "btn btn-danger", method: :delete, data: { confirm: t('confirm.Are you sure?') } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
